.search-bar-wrap {
	height: 200px;
	/*margin-left: 10%;*/
	position: fixed;
	top: 0px;
	text-align: center;
	background-color: rbga(0, 0, 0, .7);
	width: 100%;

}


input {
	width: 600px;
	height: 70px;
	border-radius: 5px;
	border: 2px solid salmon;
}

button {
	height: 70px;
	border-radius: 50%;
	width: 70px;
	background: salmon;
	color: white;
}