#home_button {
	text-decoration: none;
	font-style: bold;
	font-size: 1em;
	text-align: center;
}

/*sidebar box*/
#sidebar-l {
	width: 20%;
	height: auto;
	border: solid 1px black;
	left: 0px;
	border-radius: 10px;
	position: fixed;
}

/*stand link box design*/
.sidelink {
	width: 90%;
	height: 100px;
	border: solid 1px black;
	margin: 5%;
	border-radius: 10px;
	box-sizing: border-box;
	background-size: cover;
}

#gitlink {
	background-image: url(github.png);
}

#wiredlink {
	background-image: url(wired.png);
}

#ytlink {
	background-image: url(youtube.jpg);
}

#nycdalink {
	background-image: url(nycda.png);
}